{% extends "../base.html" %}
{% load static %}
{% block title %}Оплата прошла успешно{%endblock %}
{% block home_active %}{% endblock %}
{% block attention %}{% endblock %}
{% block content %}

<div class="container" style="margin-top: 50px">
  <div class="col-12">
    <h1 class="h2">Оплата прошла успешно!</h1>
  </div>
  <div class="col-12">
    <p>Ваши заказы</p>
  </div>
  <hr />
  <div class="col-12">
    <p>Посмотрите свои <a href="{% url 'account:user_orders'%}">заказы</a></p>
  </div>
</div>


{% endblock %}