{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block content %}
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Новинки!</h4>
                </div>
            </div>
<!--            <div class="col-lg-8 col-md-8">-->
<!--                <ul class="filter__controls">-->
<!--                    <li class="active" data-filter="*">All</li>-->
<!--                    <li data-filter=".women">Women’s</li>-->
<!--                    <li data-filter=".men">Men’s</li>-->
<!--                    <li data-filter=".kid">Kid’s</li>-->
<!--                    <li data-filter=".accessories">Accessories</li>-->
<!--                    <li data-filter=".cosmetic">Cosmetics</li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
        <div class="row property__gallery">

                {% if not products %}
                    <div class="col-12">There are currently no products active</div>
                {% else %}
                {% for product in products|slice:"0:8" %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="product__item">
                    <div  style="background-size: contain; background-position: center" class="product__item__pic set-bg"
                         data-setbg=
                                 "{% for image in product.product_image.all %}{% if image.is_feature%}
                                        {{ image.image.url }}{% endif %}{% endfor %}">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="{% url "account:user_wishlist" product.id  %}"><span class="icon_heart_alt"><i class="fal fa-heart"></i></span></a></li>
{#                            <li><a href="#"><span class="icon_bag_alt"><i class="fal fa-shopping-bag"></i></span></a></li>#}
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ {{product.regular_price}}</div>
                    </div>
                </div>
            </div>
          {% endfor %}
        {% endif %}

        </div>
    </div>
</section>

<section class="banner set-bg" data-setbg="https://content.s2.prom.st/March2020/221502bg.jpg    ">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Кафель и керамогранит от</span>
                            <h1>"Алшын Тайл"</h1>
                            <a href="#">Показать ассортимент</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <h1>"Алшын Тайл"</h1>
                            <span>производит все для ванных комнат</span><br>
                            <a href="#">Показать ассортимент</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <h1>"Алшын Тайл"</h1>
                            <span>представлена в 44 странах по всему миру.</span><br>
                            <a href="#">Показать ассортимент</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Скидки!</h4>
                </div>
            </div>
<!--            <div class="col-lg-8 col-md-8">-->
<!--                <ul class="filter__controls">-->
<!--                    <li class="active" data-filter="*">All</li>-->
<!--                    <li data-filter=".women">Women’s</li>-->
<!--                    <li data-filter=".men">Men’s</li>-->
<!--                    <li data-filter=".kid">Kid’s</li>-->
<!--                    <li data-filter=".accessories">Accessories</li>-->
<!--                    <li data-filter=".cosmetic">Cosmetics</li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
        <div class="row property__gallery">

                {% if not products %}
                    <div class="col-12">There are currently no products active</div>
                {% else %}
                {% for product in products|slice:"8:12" %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="product__item">
                    <div style="background-size: contain; background-position: center" class="product__item__pic set-bg"
                         data-setbg=
                                 "{% for image in product.product_image.all %}{% if image.is_feature%}
                                        {{ image.image.url }}{% endif %}{% endfor %}">
                        <div class="label new">Sale</div>
                        <ul class="product__hover">
                            <li><a href="{% url "account:user_wishlist" product.id  %}"><span class="icon_heart_alt"><i class="fal fa-heart"></i></span></a></li>
{#                            <li><a href="#"><span class="icon_bag_alt"><i class="fal fa-shopping-bag"></i></span></a></li>#}
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ {{product.discount_price}}</div>
                    </div>
                </div>
            </div>
          {% endfor %}
        {% endif %}

        </div>
    </div>
</section>
<section class="trend spad">
    <div class="container">
        <div class="row">
                    {% for category in category|slice:"0:3" %}
            <div class="col-lg-4 col-md-4 col-sm-6">

                <div class="trend__content">
                    <div class="section-title">
                        <h4><a style="color:#000;" href="{{ category.get_absolute_url }}">{{ category.name }}</a></h4>
                    </div>
                        {% for product in products|slice:"0:9" %}
                            {% if product.category|stringformat:"s" == category.name|stringformat:"s" %}
                    <div class="trend__item">
                        <div class="trend__item__pic">

                        {% for image in product.product_image.all %}
                            {% if image.is_feature %}
                                <img style="width: 70px;" src="{{ image.image.url }}" alt="">
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="trend__item__text">
                            <a  href="{{ product.get_absolute_url }}">
                                {{ product.title }}
                            </a>
                            <div class="rating">
                            </div>
                            <div class="product__price">$ {{ product.regular_price }}</div>
                        </div>
                    </div>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}