{% extends "base.html" %}
{% block title %}Каталог{% endblock %}

{% block content %}

    <section class=" product spad">
        <div class="swiper mySwiper container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Новинки</h4>
                    </div>
                </div>
            </div>
            <div class="swiper-wrapper">

                {% if not products %}
                    <div class="col-12">There are currently no products active</div>
                {% else %}
                    {% for product in products|slice:"10:18" %}
                        <div class="swiper-slide ">
                            <div class="product__item">
                                <div style="background-size: 100%; background-position: center"
                                     class="product__item__pic set-bg"
                                     data-setbg=
                                             "{% for image in product.product_image.all %}{% if image.is_feature %}
                                            {{ image.image.url }}{% endif %}{% endfor %}">
                                    <div class="label new">New</div>
                                    <ul class="product__hover">
                                        <li><a href="{% url "account:user_wishlist" product.id %}"><span
                                                class="icon_heart_alt"><i class="fal fa-heart"></i></span></a></li>
                                        <li><a href="{{ product.get_absolute_url }}"><span class="icon_bag_alt"><i class="fal fa-shopping-bag"></i></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a>
                                    </h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">$ {{ product.regular_price }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Скидки</h4>
                    </div>
                </div>
            </div>
            <div class="row property__gallery">

                {% if not products %}
                    <div class="col-12">There are currently no products active</div>
                {% else %}
                    {% for product in products|slice:"6:10" %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix">
                            <div class="product__item">
                                <div style="background-size: contain; background-position: center"
                                     class="product__item__pic set-bg"
                                     data-setbg=
                                             "{% for image in product.product_image.all %}{% if image.is_feature %}
                                        {{ image.image.url }}{% endif %}{% endfor %}">
                                    <div class="label new">Sale</div>
                                    <ul class="product__hover">
                                        <li><a href="{% url "account:user_wishlist" product.id %}"><span
                                                class="icon_heart_alt"><i class="fal fa-heart"></i></span></a></li>
                                        <li><a href="{{ product.get_absolute_url }}"><span class="icon_bag_alt"><i class="fal fa-shopping-bag"></i></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a>
                                    </h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">$ {{ product.discount_price }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>

<section>
        <div class="about_us" id="about">
            <div class="wrapper">
                <div class="text__title">О нас</div>
                <br>
                <div class="text__description">
                    Мы реализуем кафель и керамогранит от 17 заводов известных производителей.
                    Продукция этих заводов пользуется спросом на территории СНГ и Казахстана,
                    благодаря следующим преимуществам как современное итальянское оборудование,
                    экологически чистое сырье,высокий стандарт!
                </div>
                <br>
                <div class="signature">
                    <img src="https://nurgaliyev21.github.io/cafel/img/signature.png" alt="signature">
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="skills" id="skills">
            <div class="skills__content">
                <div class="wrapper">
                    <div class="text__title">Наши контакты</div>
                    <br>
                    <div class="skills__content__item">
                        <div class="text__description">Адрес.</div>
                        Казахстан, Алматы, мкр.Аксай 4, дом 111, ТЦ "Аксай".
                    </div>
                    <br>
                    <div class="skills__content__item">
                        <div class="text__description">Телефон.</div>
                        +7 747 273 30 45 Страший менеджер<br>
                        +7 707 515 70 33 Менеджер по продажам керамогранита<br>
                        +7 708 755 53 93 Менеджер по продажам
                    </div>
                    <br>
                    <div class="skills__content__item">
                        <div class="text__description">Контактное лицо.</div>
                        Алимжан
                    </div>
                </div>
            </div>
            <div class="skills__img">
                <div class="map" id="map"></div>
            </div>
        </div>
    </section>

{% endblock %}