{% extends "base.html" %}
{% load static %}
{% block title %}
{% if product %}{{ product.title }}{% else %}Product{% endif %}
{% endblock %}
{% block attention %} {% endblock %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<div class="container">
{% if messages %}
<div class="alert alert-warning" alert-{{ message.tags }}" role="alert">
{% for message in messages  %}
  {{message|safe}} - <a href="{% url "account:wishlist" %}" class="alert-link">Your Wishlist</a>.
{% endfor %}
</div>
{% endif %}
  <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">

                            {% for image in product.product_image.all %}
                                {% if image.is_feature %}

                            <a class="pt active " href="#{{ image.image.url }}">
                                <img class="img-fluid mx-auto d-block" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
                            </a>
                                {% else %}
                                    <a class="pt" href="#{{ image.image.url }}">
                                        <img class="img-fluid mx-auto d-block" src="{{ image.image.url }}" alt="">
                                    </a>
                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                {% for image in product.product_image.all %}
                                {% if image.is_feature %}

                                        <img data-hash="{{ image.image.url }}" class="img-fluid" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
                                {% else %}
                                        <img data-hash="{{ image.image.url }}" class="img-fluid mx-auto d-block" src="{{ image.image.url }}" alt="">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="product__details__text">
                        <h3>{{ product.title }}</h3>
                        <div class="product__details__price">$ {{ product.regular_price }}</div>
                        <div>
                        {{ product.description }}
                        </div>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Количество:</span>
                                <div class="pro-qty">
                                    <input id="select" type="text" value="1">
                                </div>
                            </div>
                            <a id="add-button" class="cart-btn"><span class="icon_bag_alt">
                                <i class="fal fa-shopping-bag"></i>
                            </span> В корзину</a>
                            <ul>
                                <li><a href="{% url "account:user_wishlist" product.id  %}"><span class="icon_heart_alt">
                                    <i class="fal fa-heart"></i>
                                </span></a></li>
                            </ul>
                        </div>
                        <div class="product__details__widget">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


<script>
    $(document).on('click', '#add-button', function (e) {
        console.log($('#select').val())
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "basket:basket_add" %}',
        data: {
          productid: {{ product.id }},
          productqty: $('#select').val(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function (json) {
          document.getElementById("basket-qty-mob").innerHTML = json.qty
          document.getElementById("basket-qty").innerHTML = json.qty
        },
        error: function (xhr, errmsg, err) {}
      });
    })
  </script>
  {% endblock %}